<#include "../include/header.html">
    <script src="http://cdn.bootcss.com/bootstrap/3.3.0/js/bootstrap.min.js"></script>
<body>
  <div id="page-content">
      <form id="mainform"  class="form-horizontal" method="post"
            enctype="application/json;charset=UTF-8">
          <div class="panel-body">
              <div id="query-form" style="padding-bottom:10px;">
                <div class="form-group">

                              <label class="col-sm-2 control-label"><@spring.message "demo.myId"/>:</label>
                              <div class="col-sm-2">
                                  <input type="text" required style="width:100%" id="myId"
                                         data-bind="value:model.myId" class="k-textbox">
                                  <script> kendo.bind($('#myId'),viewModel)</script>
                              </div>
                              <div class="col-sm-2" >
                                  <span data-for="myId" class=".k-invalid-msg"></span>
                              </div>
                    </div>
                  <div class="form-group">
                              <label class="col-sm-2 control-label"><@spring.message "demo.myName"/>:</label>
                              <div class="col-sm-2">
                                  <input type="text" required style="width:100%" id="myName"
                                         data-bind="value:model.myName" class="k-textbox">
                                  <script> kendo.bind($('#myName'),viewModel)</script>
                              </div>
                              <div class="col-sm-2" >
                                  <span data-for="myName" class=".k-invalid-msg"></span>
                              </div>
                  </div>
                  <div class="form-group">
                              <label class="col-sm-2 control-label"><@spring.message "demo.myAge"/>:</label>
                              <div class="col-sm-2">
                                  <input type="text" required style="width:100%" id="myAge"
                                         data-bind="value:model.myAge" class="k-textbox">
                                  <script> kendo.bind($('#myAge'),viewModel)</script>
                              </div>
                              <div class="col-sm-2" >
                                  <span data-for="myAge" class=".k-invalid-msg"></span>
                              </div>
                </div>
              </div>
          </div>

          <!--Tab-->
          <div id="tabstrip" class="col-sm-12" style="margin-top: 40px;">
              <ul class="nav nav-tabs" id="mytab">
                  <li class="active"><a href="#personal" data-toggle="tab">
                      <@spring.message "employee.personalinfo"/></a></li>
                  <li class=""><a href="#company" data-toggle="tab">联系方式</a></li>
                  <li class=""><a href="#another" data-toggle="tab">地址信息</a></li>
              </ul>
              <div id="myTabContent" class="tab-content">
                  <!-- in active 默认显示 -->
                  <div class="tab-pane fade in active" style="margin-top: 20px;"
                       id="personal">
                      <div class="form-group">
                          <label class="col-sm-2 control-label"><@spring.message
                              "demo.myBirthday"/>:</label>
                          <div class="col-sm-5">
                              <input id="myBirthday"  data-role="datepicker" class="k-datepicker"
                                     data-bind="value:model.myBirthday">
                              <script> kendo.bind($('#myBirthday'),viewModel)</script>
                          </div>
                          <div class="col-sm-5" >
			                  <span data-for="myBirthday" class=".k-invalid-msg">
                              </span>
                          </div>
                      </div>
                  </div>
                  <div class="tab-pane fade" style="margin-top: 20px;" id="company">
                      <div class="form-group">
                          <div id="grid"></div>
                      </div>
                  </div>
                  <div class="tab-pane fade" style="margin-top: 20px;" id="another">
                      <div class="form-group">
                          <select id="myAddress" data-bind="value:model.myAddress" style="float:left;width:150px;mamargin-right:2px;"></select>
                          <script> kendo.bind($('#myAddress'),viewModel)</script>

                          <input type="text" required style="width:100%" id="regionId"
                                 data-bind="value:model.myAddress" class="k-textbox">

                      </div>
                  </div>
              </div>
          </div>

          <div class="text-right" style="bottom: 20px;position: fixed; right: 85px; float: left;
          background: #fff;">
      	    <span class="btn btn-success" data-bind="click:save" type="submit">
              <@spring.message "hap.save"/></span>
              <span class="btn btn-success" data-bind="click:closeWin" type="button">
              <@spring.message "hap.cancel"/></span>
          </div>
      </form>
  </div>



  <script>

      var viewModel = new kendo.observable({
          model: {},
          save: function(e){
              var data= viewModel.model.toJSON();
              if(isEdit){
                  data.__status = "update";
              }else{
                  data.__status = "add";
              }

              var validator = $("#mainform").kendoValidator().data("kendoValidator");
              //var validator = $("#mainform").data("kendoValidator");
              if (validator.validate()) {
                 /*
                  $.ajax({
                      type   : 'POST',
                      url    : '${base.contextPath}/demo/submit',
                      dataType : "json",
                      contentType : "application/json",
                      data   : kendo.stringify([data]),
                      success: function (data) {
                          if(data.success==false){
                              kendo.ui.showErrorDialog({
                                  message:data.message
                              });
                          }else{
                              kendo.ui.showInfoDialog({
                                  title: '提示信息',
                                  message: '保存成功!'
                              }).done(function (e) {
                                  window.parent.$("#dialog").data("kendoWindow").close();
                              });
                              //window.parent.$("#dialog").data("kendoWindow").close();
                          }
                      }
                  });
                  */

                  Hap.submitForm({
                      url           : '${base.contextPath}/demo/submit',
                      formModel     : viewModel.model,
                      grid: {"phones": $("#grid")},
                      success       : function (data) {
                          if(data.success==false){
                              kendo.ui.showErrorDialog({
                                  message:data.message
                              });
                          }else {
                              kendo.ui.showInfoDialog({
                                  title: '提示信息',
                                  message: '保存成功!'
                              }).done(function (e) {
                                  window.parent.$("#dialog").data("kendoWindow").close();
                              });
                          }
                      }
                  });

              }
          },
          closeWin: function(e){
              window.parent.$("#dialog").data("kendoWindow").close();
          }});

      kendo.bind($('#page-content'), viewModel);

      var isEdit = false;
      var myId = '${RequestParameters.myId!0}';
      if (myId!=0) {
          isEdit = true;
          $.ajax({
              type: "POST",
              url:   '${base.contextPath}/demo/query?myId=${RequestParameters.myId!0}',//+ myId,
              dataType : "json",
              contentType : "application/json",
              success: function (args) {
                  var a0 = args.rows[0] || {};
                  for (var k in a0) {
                      viewModel.model.set(k, a0[k]);
                  }
              }
          });
      };

      var crudServiceBaseUrl = '${base.contextPath}';
      var dataSource = new kendo.data.DataSource({
          transport : {
              read : {
                  url : crudServiceBaseUrl + "/phone/query?personId=${RequestParameters.myId!0}",
                  type    : "POST",
                  dataType: "json"
              },
              create : {
                  url        : crudServiceBaseUrl + "/phone/submit?personId=${RequestParameters.myId!0}",
                  contentType: "application/json",
                  type       : "POST"
              },
              update: {
                  url: crudServiceBaseUrl + "/phone/submit",
                  contentType: "application/json",
                  type: "POST"
              },
              destroy: {
                  url: crudServiceBaseUrl + "/phone/delete",
                  contentType: "application/json",
                  type: "POST"
              },
              parameterMap: function (options, type) {
                  if (type !== "read" && options.models) {
                      var datas = Hap.prepareSubmitParameter(options, type);
                      return kendo.stringify(datas);
                  } else if (type === "read") {
                      return Hap.prepareQueryParameter
                      (viewModel.model.toJSON(), options);
                  }
              }
          },
          batch       : true,
          serverPaging: true,
          serverSorting: true,
          pageSize    : 10,
          schema      : {
              data  : 'rows',
              total : 'total',
              model : {
                  id    : "phoneId",
                  fields: { phoneId : {type: "long"},
                      phoneNum : {type: "string"},
                      phoneDesc : {type: "string"},
                      personId : {type: "string"}
                  }
              }
          }
      });

      var grid = $("#grid").kendoGrid({
          dataSource : dataSource,
          navigatable: false,
          height: '100%',
          resizable: true,
          scrollable: true,
          selectable:"multiple,rowbox",
          pageable: {
              pageSizes: [5, 10, 20, 50],
              refresh: true,
              buttonCount: 5
          },
          sortable: true,
          toolbar: [{
              name: "create",
              template: '<span class=" btn btn-primary k-grid-add">#=text#</span>'
          },{
              name: "save",
              template: '<span class=" btn btn-success k-grid-save-changes">#=text#</span>'
          },{
              name: "cancel",
              template: '<span class=" btn btn-default k-grid-cancel-changes">取消</span>'
          },{
              template: '<span id="deleteBtn" class=" btn btn-danger">删除</span>'
          }],
          columns: [{
              field : "phoneNum",
              title : "联系电话"
          },{
              field : "phoneDesc",
              title : "说明"
          }],
          editable   : true,
          dataBound: function() {
              var view = this.dataSource.view();
              this.items().each(function(index, row) {
                  kendo.bind(row, view[index]);
              });
          }
      }).data("kendoGrid");
       $("#deleteBtn").click(function(){
       Hap.deleteGridSelection({grid:$("#grid")});
       });

      //自动根据当前屏幕大小调整表格
      Hap.autoResizeGrid("#grid");

  </script>

  <script>
      //下拉
      var myDataRegion = [];
      /*
       var myDataRegion = [{regionName:"测试1",regionId:"1",parentId:"1"},
       {regionName:"测试2",regionId:"2",parentId:"1"},
       {regionName:"测试3",regionId:"3",parentId:"1"},
       {regionName:"测试4",regionId:"4",parentId:"2"},
       {regionName:"测试5",regionId:"5",parentId:"3"},
       {regionName:"测试6",regionId:"6",parentId:"4"},
       {regionName:"测试7",regionId:"7",parentId:"5"},
       {regionName:"测试8",regionId:"8",parentId:"2"}];*/

      function myDataToJson(data) {
          this.regionName = data.regionName;
          this.regionId = data.regionId;
          this.parentId = data.parentId;
      }

      $.ajax({
          url : '${base.contextPath}/region/query',
          type : "POST",
          contentType : "application/json;charset=utf-8", //
          cache : false,
          dataType : "json",
          async : false,
          success : function(data) {
              for (var i = 0; i <data.rows.length ; i++) { //
                  myDataRegion.push(new myDataToJson(data.rows[i]));
              };
          }
      });

      $(document).ready(function(){
          //初始化控件
          firstDropDownList = $("#myAddress").kendoDropDownList({
              optionLabel: "--请选择省份--",
              dataTextField:"regionName",
              dataValueField:"regionId",
              autoBind: true,
              dataSource:{
                  data:myDataRegion
              },
              valuePrimitive: true  //指定初始模型值为空时控件的值绑定行为
          }).data("kendoDropDownList");
          //初始数据过滤器
          //省
          firstDropDownList.dataSource.filter({ field: "parentId", operator: "eq", value: 1 });
      });
  </script>
  <script>

  </script>
</body>
</html>