<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="demo.mapper.DemoMapper">
    <resultMap id="BaseResultMap" type="demo.dto.Demo" extends="com.hand.hap.mapper.StdMapper.STD">
        <result column="MY_ID" property="myId" jdbcType="VARCHAR"/>
        <result column="MY_NAME" property="myName" jdbcType="VARCHAR"/>
        <result column="MY_AGE" property="myAge" jdbcType="DECIMAL"/>
        <result column="MY_BIRTHDAY" property="myBirthday" jdbcType="TIMESTAMP"/>
        <result column="MY_ADDRESS" property="myAddress" jdbcType="DECIMAL"/>
        <result column="REGION_NAME" property="regionName" jdbcType="VARCHAR"/>
    </resultMap>

    <select id="selectByDemo" parameterType="demo.dto.Demo" resultMap="BaseResultMap">
        SELECT m.MY_ID,
        m.MY_NAME,
        m.MY_AGE,
        m.MY_BIRTHDAY,
        m.MY_ADDRESS,
        r.REGION_NAME
        FROM my_test01 m LEFT OUTER JOIN  region r on ( m.MY_ADDRESS = R.REGION_ID)
        <where>
             1=1
            <if test="myId != null">
                and m.MY_ID = #{myId,jdbcType=VARCHAR}
            </if>
            <if test="myName != null">
                and m.MY_NAME like #{myName,jdbcType=VARCHAR}
            </if>
            <if test="myAge != null">
                and m.MY_AGE = #{myAge,jdbcType=DECIMAL}
            </if>
            <if test="myBirthday != null">
                and m.MY_BIRTHDAY = #{myBirthday,jdbcType=TIMESTAMP}
            </if>
            <if test="myAddress != null">
                and m.MY_ADDRESS = #{myAddress,jdbcType=DECIMAL}
            </if>
        </where>
    </select>

    <insert id="insertDemo" parameterType="demo.dto.Demo">
        INSERT INTO my_test01
        <trim prefix="(" suffix=")" suffixOverrides="," >
            <if test="myId != null" >
                MY_ID,
            </if>
            <if test="myName != null" >
                MY_NAME,
            </if>
            <if test="myAge != null">
                MY_AGE,
            </if>
            <if test="myBirthday != null">
                MY_BIRTHDAY,
            </if>
                MY_ADDRESS,
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides="," >
            <if test="myId != null" >
                #{myId,jdbcType=VARCHAR},
            </if>
            <if test="myName != null" >
                #{myName,jdbcType=VARCHAR},
            </if>
            <if test="myAge != null">
                #{myAge,jdbcType=DECIMAL},
            </if>
            <if test="myBirthday != null">
                #{myBirthday,jdbcType=TIMESTAMP},
            </if>
            <if test="myAddress != null">
               #{myAddress,jdbcType=DECIMAL},
            </if>
        </trim>
    </insert>

    <update id="updateDemo" parameterType="demo.dto.Demo" >
        update my_test01
        <set >
            <if test="myId != null" >
                MY_ID = #{myId,jdbcType=VARCHAR},
            </if>
            <if test="myName != null" >
                MY_NAME = #{myName,jdbcType=VARCHAR},
            </if>
            <if test="myAge != null">
                MY_AGE = #{myAge,jdbcType=DECIMAL},
            </if>
            <if test="myBirthday != null">
                MY_BIRTHDAY = #{myBirthday,jdbcType=TIMESTAMP},
            </if>
            <if test="myAddress != null">
                MY_ADDRESS = #{myAddress,jdbcType=DECIMAL},
            </if>
        </set>
        where MY_ID = #{myId,jdbcType=VARCHAR}
    </update>

    <delete id="deleteDemo" parameterType="demo.dto.Demo" >
        delete m.* from my_test01 m
        where MY_ID = #{myId,jdbcType=DECIMAL}
    </delete>


</mapper>
